<%= form_for(@revenue) do |f| %>
  <% if @revenue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revenue.errors.count, "error") %> prohibited this revenue from being saved:</h2>

      <ul>
      <% @revenue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <%= f.collection_select :company_id, Company.order('name ASC').all, :id, :name, :prompt => "Select Company" %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label 'Fees' %><br>
    <%= f.text_field :fee %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date, class: "date" %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.select(:type, ['Sale', 'Service', 'Custom'], :prompt => "Select Type" ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
